.card-header{
   background: $likid-input-bg;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: $likid-bg !important;
}
#app{
   height: 100%;
}

.likit {   
   &-singIn,
   &-register,
   &-forms {
       &-Button {
           background: $gradient-blue;
           padding: 0.5rem;
           border: none;
           outline: none;
           border-radius: 2rem;
           color: white;
           margin-top: 15px;
           margin-bottom: 15px;
       }
   }
}

.likit-input {
   border-radius: 30px;
   padding-left: 80px !important;
   padding-right: 80px !important;
   height: 50px;
   background: $likid-input-bg;
   border:solid;
   border-color: $likid-input-border;
   color:$likid-input-placeholder;
   &:-webkit-input-placeholder, &:placeholder {
       color:$likid-input-placeholder;
   }
   &:focus {
       background: $likid-input-bg;
       border:solid;
       border-color: $likid-input-bg;
       -webkit-box-shadow:initial;
       box-shadow:initial;
       outline-width: 0;
       &::placeholder {
           color: $likid-input-placeholder;
       }
   }
}
.icon-container{
   height: 100%;
   position: absolute;
   width: 67px;
   background: $likid-icon-bg;
   border-radius: 50px;
   top:0;
   left: 0;
   transition: left 1s;
   pointer-events:none;
   
   i{
       position: absolute;
       top:0;
       left:25px;
       font-size: 15px;
       height: 15px;
       bottom:0;
       color: #bbb;
       margin: auto;
   }
}

 .likit-border-button {
     border: solid $likid-bg;
     border-radius: 30px;
     background: $gradient-blue;
     margin-left: 20px;
     position: relative;
     padding: 3px 15px;
     min-width: 100px;
     color:$likid-text-white;
     transition: all 0.5s;
     &:hover {
         border: solid $likid-border-aqua;
         transition: all 0.5s;
     }

 }
 hr{
     border-color: $hr-color !important;
     filter: blur(1px);
 }

 .likit-margin-Bottom{
    margin-bottom: 10px;
 }




 @keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #541c4c 10%, $likid-bg 30%);
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveBottom {
    background-size: 30% 70px;
}
.waveAnimation .waveBottom {
    animation: move_wave 95s linear infinite;
}