
.form-check-label {
    color: #4f6879;
}

.likit {
    &-body-login {
        background: #19182c;
    }
    &-singIn{
        &-Button {
            background: $gradient-blue;
            padding: 0.5rem;
            border: none;
            outline: none;
            border-radius: 2rem;
            color: white;
        }
    }
    &-container{

        position: relative;
        .icon-container{
            height: 100%;
            position: absolute;
            width: 67px;
            background: $likid-icon-bg;
            border-radius: 50px;
        }
        .likit-input {
            border-radius: 30px;
            padding-left: 80px;
            height: 50px;
            background: $likid-input-bg;
            border:solid;
            border-color: $likid-input-border;
            color:$likid-input-placeholder;
            &:-webkit-input-placeholder, &:placeholder {
                color:$likid-input-placeholder;
            }
            &:focus {
                background: $likid-input-bg;
                border:solid;
                border-color: $likid-input-bg;
                -webkit-box-shadow:initial;
                box-shadow:initial;
            }
            #
        }
        i{
            position: absolute;
            top:0;
            left:25px;
            font-size: 15px;
            height: 15px;
            bottom:0;
            color: #bbb;
            margin: auto;
        }
    }
} 
