.container{
    div{
        div{
            div{
                div{
                    form{
                        .buttonGrandParent{
                            .buttonParent{
                                .singInButton{
                                    background: linear-gradient(90deg,#109ad8,#3b3bd1);
                                    padding:0.5rem;
                                    border:none;
                                    outline: none;
                                    border-radius:2rem;
                                    color:white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.likid-body-login{
    background:#19182c;
}
.likit {
    &-container{

        position: relative;
        .icon-container{
            height: 100%;
            position: absolute;
            width: 67px;
            background: $likid-icon-bg;
            border-radius: 50px;
        }
        .likit-input {
            border-radius: 30px;
            padding-left: 50px;
            height: 50px;
            background: $likid-input-bg;
            border:solid;
            border-color: $likid-input-border;
            &:focus {
                background: $likid-input-bg;
                border:solid;
                border-color: $likid-input-bg;
                -webkit-box-shadow:initial;
                box-shadow:initial;
            }
        }
        i{
            position: absolute;
            top:0;
            left:25px;
            font-size: 15px;
            height: 15px;
            bottom:0;
            color: #bbb;
            margin: auto;
        }
    }
} 
