.container{
    div{
        div{
            div{
                div{
                    form{
                        .buttonGrandParent{
                            .buttonParent{
                                .singInButton{
                                    background: linear-gradient(90deg,#109ad8,#3b3bd1);
                                    padding:0.5rem;
                                    border:none;
                                    outline: none;
                                    border-radius:2rem;
                                    color:white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
