.filter-p{
    position: absolute;
    width:100%;
    height:100%;
    pointer-events:none;
    background:#fff;
    opacity:0;
    z-index:3;
}
.profile-container{
    input{
        position: absolute;
        top: 0;
        bottom:0;
        margin:auto;
        width: 100%;
        text-align: center;
        background: rgba(255, 255, 255, 0.5);
        transition:all 1s;
        font-size: 20px;
        text-transform: capitalize;
        font-weight: bold;
        left:0;
    }
    .img-profile{
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events:none;
    }
    form{
        overflow: hidden;
        border-radius: 5px;
    }
    &:hover{
        input{
            transition:all 0.5s;
            background: rgba(255, 255, 255, 0);
            color:transparent;
        }
    }
}
