// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$likid-input-bg:rgba(77, 77, 111, 0.38);
$likid-input-border:rgb(45, 44, 69);
$likid-input-placeholder:#fff;
$likid-icon-bg:#373c5a;
$likid-text-white:#fff;
$likid-border-aqua:aqua;
$gradient-blue: linear-gradient(90deg, #109ad8, #3b3bd1);
$gradient-gloss: linear-gradient(90deg, #109ad8, #4fc4f9);

$likid-bg:#19182c;

$hr-color: #325dd3;